name: keep-render-awake

on:
  schedule:
    - cron: "*/1 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Curl Render
        run: curl -s https://importacao-conecta-backend.onrender.com/health
